# Dictionaries

# Q1. Consider the following Dictionary, print the keys and values of it.

In [17]:
favorite_car = {
    'Brand' : 'Mercedes',
    'Model' : 'Mercedes Benz EQS',
    'Year' : 2020,
    'Price' : '1.5 Cr'    
}

In [18]:
print(favorite_car.keys())
print(favorite_car.values())

dict_keys(['Brand', 'Model', 'Year', 'Price'])
dict_values(['Mercedes', 'Mercedes Benz EQS', 2020, '1.5 Cr'])

# Q2. Change the Model of the Car to `AMG A 35`.

In [19]:
favorite_car['Model'] = 'AMG A 35'
print(favorite_car)

{'Brand': 'Mercedes', 'Model': 'AMG A 35', 'Year': 2020, 'Price': '1.5 Cr'}

# Q3. Add the following dictionary to `favorite_car` dictionary.

In [20]:
info_on_fav_car = {
    'Type' : 'Sedan',
    'Top Speed' : '250 km/h',
    'Colour' : 'Black'
}

In [5]:
favorite_car.update(info_on_fav_car)
print(favorite_car)

{'Brand': 'Mercedes', 'Model': 'AMG A 35', 'Year': 2020, 'Price': '1.5 Cr', 'Type': 'Sedan', 'Top Speed': '250 km/h', 'Colour': 'Black'}

# Q4. Change Brad's Salary to 8500 from the following dictionary.

In [6]:
nested_dict = {
    'Emp1': {
        'Name': 'Tom',
        'Salary': 7500
    },
    'Emp2': {
        'Name': 'Emma', 
        'Salary': 8000
    },
    'Emp3': {
        'Name': 'Brad', 
        'Salary': 500
    }
}

In [7]:
nested_dict['Emp3']['Salary']=8500
print(nested_dict)

{'Emp1': {'Name': 'Tom', 'Salary': 7500}, 'Emp2': {'Name': 'Emma', 'Salary': 8000}, 'Emp3': {'Name': 'Brad', 'Salary': 8500}}

# Q5. Find the Customers who are subscribed from the given List of dictionaries and add them to a new list of dictionaries.

In [8]:
customers = [{
    'customer1' : {
        'Name' : 'John',
        'Age' : 38,
        'Subscribed' : 'Yes'
    },
    'customer2' : {
        'Name' : 'Jack',
        'Age' : 33,
        'Subscribed' : 'No'
    },
    'customer3' : {
        'Name' : 'Jimmy',
        'Age' : 45,
        'Subscribed' : 'No'
    },
    'customer4' : {
        'Name' : 'Jane',
        'Age' : 28,
        'Subscribed' : 'Yes'
    },
    'customer5' : {
        'Name' : 'Jeremy',
        'Age' : 35,
        'Subscribed' : 'Yes'
    }
}]

customers

[{'customer1': {'Name': 'John', 'Age': 38, 'Subscribed': 'Yes'},
  'customer2': {'Name': 'Jack', 'Age': 33, 'Subscribed': 'No'},
  'customer3': {'Name': 'Jimmy', 'Age': 45, 'Subscribed': 'No'},
  'customer4': {'Name': 'Jane', 'Age': 28, 'Subscribed': 'Yes'},
  'customer5': {'Name': 'Jeremy', 'Age': 35, 'Subscribed': 'Yes'}}]

In [9]:
subscribed_customers= []

for key in customers[0].keys():
    if customers[0][key]['Subscribed'] == 'Yes':
        subscribed_customers.append(customers[0][key])
subscribed_customers

[{'Name': 'John', 'Age': 38, 'Subscribed': 'Yes'},
 {'Name': 'Jane', 'Age': 28, 'Subscribed': 'Yes'},
 {'Name': 'Jeremy', 'Age': 35, 'Subscribed': 'Yes'}]

In [10]:
subscribed_customers= []

for key in customers[0].keys():
    if customers[0][key]['Subscribed'] == 'No':
        subscribed_customers.append(customers[0][key])
subscribed_customers

[{'Name': 'Jack', 'Age': 33, 'Subscribed': 'No'},
 {'Name': 'Jimmy', 'Age': 45, 'Subscribed': 'No'}]

# For loop

# Q1. Print each fruit in the given list of `fruits` using a `for loop`.

In [1]:
fruits = ['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']
print(fruits)

['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']

In [3]:
for fruit in fruits:
    print(fruits)

['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']
['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']
['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']
['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']
['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']
['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']
['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']
['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']

# Q2. Write a program to print the first 25 numbers using a for loop.

In [14]:
 for number in range(25):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

# Q3. Write a For Loop to print first 25 numbers and stop the loop at 15.

In [15]:
for num in range(25):
    if num > 15:
        break
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

# Q4. Write a program to print the sum of first n integers where n is specified by the user.

In [23]:
n=int(input("Enter a first number: "))
x=0
for number in range(1,n+1):
    x +=number
print("sum of the first ",n,"integer",x)

Enter a first number: 34
sum of the first  34 integer 595

# Q5. Write a program to create a management system for a teacher to add marks for students in subjects : Maths, Physics and Chemistry.

In [24]:
student_marks_data = []
for x in range(1000):
    data = input('\nDo you want to Add more data? (y/n) :')
    if data == 'y':
        name =input("\nEnter the name of the Student: ")
        roll_no = input("\n Enter the Roll no of the Student: ")
        maths = int(input("Enter Mathematics marks: "))
        phys = int(input("Enter Physics marks: "))
        chem = int(input("Enter Chemisty marks: "))
        
        dictionary ={
            'name' : name,
            'roll no' : roll_no,
            'maths' : maths,
            'phys' : phys,
            'chem' : chem
        }
        
        student_marks_data.append(dictionary)
        
        print_or_not = input('\nDo you want to see the data added so far? (y/n): ')
        if print_or_not =='y':
            print('\n',student_marks_data)
        elif print_or_not== 'n':
            pass
        else:
            print("\nEnter 'y' or 'n' !!\n")
    elif data == 'n':
        print_or_not = input('\nDo you want to see the data added so far? (y/n):  ')
        if print_or_not =='y':
            print('\n',student_marks_data)
        elif print_or_not == 'n':
            pass
        else:
            print("\n Enter 'y' or 'n' !!\n")
        break
    else:
        print("\nEnter 'y' or 'n' !!\n")

Do you want to Add more data? (y/n) :y

Enter the name of the Student: Nisa

 Enter the Roll no of the Student: 32
Enter Mathematics marks: 90
Enter Physics marks: 80
Enter Chemisty marks: 85

Do you want to see the data added so far? (y/n): n

Do you want to Add more data? (y/n) :n

Do you want to see the data added so far? (y/n):  n

# List

# Q1. Sort the given list in Descending Order.

In [25]:
list1 = [x for x in range(25)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [26]:
list1.sort(reverse = True)
print(list1)

[24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Q2. Change Spinach with Grape in the following list of fruits.

In [27]:
fruits = ['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Spinach', 'Pineapple']
print(fruits)

['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Spinach', 'Pineapple']

In [28]:
fruits[6]='Grape'
print(fruits)

['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']

# Q3. Write a program to replace the first and last item in given list `fruits`.

In [29]:
fruits = ['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Spinach', 'Pineapple']
first_item = fruits.pop(0)
last_item = fruits.pop(-1)
fruits.insert(0,last_item)
fruits.append(first_item)
print(fruits)

['Pineapple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Spinach', 'Apple']

# Q4. Join the two given lists and arrange them in ascending order if there are less than 10 items in each of them.

In [30]:
l1 = [7, 87, 47, 56, 15, 12, 78, 97, 14]
l2 = [55, 45, 58, 9, 7, 8]

In [31]:
if (len(l1) <10) & (len(l2) <10):
    new_list =l1 + l2
    new_list.sort()
    print("joined and Sorted list -",new_list)
else:
    print("One of the lists has more than 10 items")

joined and Sorted list - [7, 7, 8, 9, 12, 14, 15, 45, 47, 55, 56, 58, 78, 87, 97]

# Q5. Consider the given List, if the item is an integer, skip it, or else add it to a new list.

In [32]:
mixed_list = [2, 'H', 7, 'U', 'G', 6, 5, 6, 'B', 7.5]
print(mixed_list)

[2, 'H', 7, 'U', 'G', 6, 5, 6, 'B', 7.5]

In [33]:
non_integer_list = []
for item in mixed_list:
    if type(item) !=int:
        non_integer_list.append(item)
print(non_integer_list)

['H', 'U', 'G', 'B', 7.5]

# Set

# Q1. Add the two given Sets.

In [34]:
set1 = {4, 52, 34, 7, 8, 9, 0, 2, 1, 22, 54, 6}
set2 = {6, 45, 3, 22, 11 ,7, 8, 12}

In [35]:
set1.update(set2)
print(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 22, 34, 45, 52, 54}

In [36]:
set.update(set1)
print(set2)

{3, 6, 7, 8, 11, 12, 45, 22}

# Q2. Find the Intersection of the two given sets.

In [37]:
set1 = {4, 52, 34, 7, 8, 9, 0, 2, 1, 22, 54, 6}
set2 = {6, 45, 3, 22, 11 ,7, 8, 12}

In [38]:
set1.intersection(set2)

{6, 7, 8, 22}

In [39]:
set2.intersection(set1)

{6, 7, 8, 22}

# Q3. Find the Union of the two given sets.

In [40]:
set1.union(set2)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 22, 34, 45, 52, 54}

In [41]:
set2.union(set1)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 22, 34, 45, 52, 54}

# Q4. Find the difference of the two given sets.

In [42]:
set1 = {4, 52, 34, 7, 8, 9, 0, 2, 1, 22, 54, 6}
set2 = {6, 45, 3, 22, 11 ,7, 8, 12}

In [43]:
set1.difference(set2)

{0, 1, 2, 4, 9, 34, 52, 54}

In [44]:
set2.difference(set1)

{3, 11, 12, 45}

# Q5. Check if the given set `b` is a subset of set `a`.

In [45]:
set_a = {5, 4, 2, 7, 8, 0, 9, 1, 3, 6}
set_b = {2, 4, 6, 8}

In [46]:
set_a.issubset(set_b)

False

In [47]:
set_b.issubset(set_a)

True

# String

In [48]:
# Creating a string

string1 = ''''William Shakespeare was an English playwright, poet and actor. 
He is widely regarded as the greatest writer in the English language and the world's pre-eminent dramatist.'''

# printing the string
print(string1)

'William Shakespeare was an English playwright, poet and actor.
He is widely regarded as the greatest writer in the English language and the world's pre-eminent dramatist.

# Q1. Find the length of the given string.

In [49]:
len(string1)

172

# Q2. Check if the word `Shakespeare` is in the given string or not.

Hint: Use logical statements or/and python's inbuilt keyword arguments

In [50]:
'shakespeare' in string1

False

# Q3. Append string2 to string1

In [51]:
string2 = '''He is often called England's national poet and the "Bard of Avon".'''

print(string2) #Printing string2

He is often called England's national poet and the "Bard of Avon".

In [52]:
print(string1 +' '+ string2)

'William Shakespeare was an English playwright, poet and actor.
He is widely regarded as the greatest writer in the English language and the world's pre-eminent dramatist. He is often called England's national poet and the "Bard of Avon".

# Q4. Replace the words `William Shakespeare` to `W. Shakespeare` in the given string1.

In [53]:
print(string1.replace("William Shakespeare" , 'W.shakespeare'))

'W.shakespeare was an English playwright, poet and actor.
He is widely regarded as the greatest writer in the English language and the world's pre-eminent dramatist.

# Q5. Count the number of words in the given string 1.

Hint: Split the words first.

In [54]:
words=string1.split()
print("he number of words in the string1 are",len(words))

he number of words in the string1 are 26

# Tuple

# Q1. Find the number of items in the given tuple without using the `len( )` function.

In [55]:
tup = ('Break', 4, 'John', 6, 7, 4, 3)
print(tup)
print('\n', type(tup))

('Break', 4, 'John', 6, 7, 4, 3)

 <class 'tuple'>

In [56]:
total_item = 0
for item in tup:
    total_item=total_item+1
print(total_item)

7

In [57]:
len(tup)

7

# Q2. Join the two given tuples.

In [58]:
tuple1 = ('Tomato', 'Potato', 'Cauliflower', 'Capsicum', 'Peas')
tuple2 = ('Cabbage', 'Carrot', 'Raddish', 'Cucumber', 'Beetroot')

In [59]:
tuple1+tuple2

('Tomato',
 'Potato',
 'Cauliflower',
 'Capsicum',
 'Peas',
 'Cabbage',
 'Carrot',
 'Raddish',
 'Cucumber',
 'Beetroot')

In [60]:
print((tuple1) + (tuple2))

('Tomato', 'Potato', 'Cauliflower', 'Capsicum', 'Peas', 'Cabbage', 'Carrot', 'Raddish', 'Cucumber', 'Beetroot')

# Q3. Join the given list and tuple.

In [61]:
the_list = ['Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple']

the_tuple = ('Berry', 'Cranberry', 'Melon', 'Strawberry')

In [62]:
print(tuple(the_list) + (the_tuple))

('Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple', 'Berry', 'Cranberry', 'Melon', 'Strawberry')

# Q4. Remove all the duplicate values from the given tuple.

In [63]:
tuple_of_fruits = ('Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple', 'Cherry', 'Orange', 'Kiwi' )
print(tuple_of_fruits)

('Apple', 'Banana', 'Cherry', 'Orange', 'Kiwi', 'Papaya', 'Grape', 'Pineapple', 'Cherry', 'Orange', 'Kiwi')

In [64]:
tuple(set(tuple_of_fruits))

('Kiwi', 'Grape', 'Orange', 'Apple', 'Cherry', 'Banana', 'Pineapple', 'Papaya')

In [65]:
new_tuple_of_fruits=[]

# Q5. Remove the negative items from the given tuple of integers.

In [66]:
tuple_of_integers = (87, -5, 47, -85, 6, 22, 45, 57, -77, 102, -54, 50)
print(tuple_of_integers)

(87, -5, 47, -85, 6, 22, 45, 57, -77, 102, -54, 50)

In [67]:
list_of_integers=list(tuple_of_integers)
for item in list_of_integers:
    if item < 0:
        list_of_integers.remove(item)
tuple(list_of_integers)

(87, 47, 6, 22, 45, 57, 102, 50)

# While loop

# Q1. Create a while loop which iterates over natural numbers and breaks before the integer 6.

In [68]:
i=1
while i<6:
    print(i)
    i=i+1

1
2
3
4
5

In [8]:
i=1
while True:
    print(i)
    i=i+1
    if i==6:
        break

1
2
3
4
5

# Q2. Write a program using while loop to print even numbers till 10.

In [71]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

# Q3. Write a program to print a Multiplication Table of any number specified by the user using while Loop.

In [73]:
i=int(input("Enter Your Number: "))
z=1
while True:
    print(f'\n{i} x {z} = {i*z}')
    z +=1
    if z>10:
        break

Enter Your Number: 22

22 x 1 = 22

22 x 2 = 44

22 x 3 = 66

22 x 4 = 88

22 x 5 = 110

22 x 6 = 132

22 x 7 = 154

22 x 8 = 176

22 x 9 = 198

22 x 10 = 220

# Q4. Write a program to print the factorial of any number specified by the user using while loop.

In [74]:
n = int(input("Enter any number: "))
i = 1
while n >= 1:
    i = i * n
    n = n - 1
print(f'\n factorial is {i}.')

Enter any number: 20

 factorial is 2432902008176640000.

# Q5. Write a program to create a simple management a system for student to Add, Delete or Modify customer data for his startup (using while loop).

In [78]:
customer_data = []
while True:
    choice = int(input("\n choose your option:\n\n 0: Data\n 1:Delete data\n 2: Modify Data\n 3: Show data\n 4: Quit system\n\n"))
    if choice == 0:
        customer_id = int(input("Enter Customer ID: "))
        name = input('Enter the name of the customer: ')
        age = input('Enter the age of the customer: ')
        phone_number = int(input('Enter phone number: '))
        city = input('Enter the city of the customer: ')
        subscribed = input('Did customer buy subscritpion? (y/n): ')
        
        data={
            'Customer Id': customer_id,
            'Name': name,
            'Age': age,
            'Contact Number': phone_number,
            'City':city,
            'Subscribed':subscribed
        }
        customer_data.append(data)
    elif choice == 1:
        idx = int(input("\nEnter the Customer ID you want to Delete: "))
        
        for item in customer_data:
            if item['Customer Id'] == idx:
                customer_data.remove(item)
            else:
                print("\nCustomer Id does not exit!\n")
    elif choice == 2:
        idx2 = int(input("\nEnter the Customer ID you want to Modify: "))
        
        for item in customer_data:
            if item['Customer Id'] == idx2:
                name=input('Enter the name of the customer: ')
                age=input('Enter the age of the customer: ')
                phone_number=int(input("Enter phone number: "))
                city = input('Enetr the city of the customer: ')
                subscribed = input('Did customer buy subscritpion? (y/n): ')
                
                data2 ={
                    'Name': name,
                    'Age': age,
                    'Contact Number': phone_number,
                    'City': city,
                    'Subscribed': subscribed
                }
                
                data.update(data2)
            else:
                print('\nCustomer Id does not exit!\n')
    elif choice == 3:
        print('\n',customer_data)
        
    elif choice == 4:
        break
        
    else:
        print('Invalid Requet !!')
        break

 choose your option:

 0: Data
 1:Delete data
 2: Modify Data
 3: Show data
 4: Quit system

2

Enter the Customer ID you want to Modify: 54

 choose your option:

 0: Data
 1:Delete data
 2: Modify Data
 3: Show data
 4: Quit system

3

 []

 choose your option:

 0: Data
 1:Delete data
 2: Modify Data
 3: Show data
 4: Quit system

4

# Python Classes and object

# Q1. Create a simple class that adds two numbers.

In [81]:
class Add:
    def add(self,x,y):
        return x+y
addition = Add()
addition.add(2023,2000)

4023

# Q2. Create a simple power function using a python class.

In [84]:
class Exponential:
    def power(self,x,n):
        return x**n
exp=Exponential()
exp.power(4,3)

64

# Q3. Create a simple class which print "Hi, {your name}" using the init function. {your name} must be specified by the user.

In [86]:
class Name:
    def __init__(self,name):
        self.name=name
    def print_name(self):
        print(f'Hi,{self.name}')
n=input('Enter your name: ')
name=Name(n)
name.print_name()

Enter your name: Nisa
Hi,Nisa

# Q4. Write a Python class to reverse a user specified string.

In [89]:
class Reversed:
    def __init__(self,string):
        self.string = string
    def reverse_string(self):
        new_string = ''.join(list(reversed(self.string))).lower()
        return new_string
user_string = input('Enter Anything: ')
reverse = Reversed(user_string)
reverse.reverse_string()

Enter Anything: Hiiii,Hello

' olleh,iiiih'

# Q5. Write a Python class BankAccount with attributes like account_number, balance, date_of_opening and customer_name, and methods like deposit, withdraw, and check_balance.

In [109]:
class BankAccount:
    def __init__(self,account_number,date_of_opening,balance,customer_name):
        self.account_number = account_number
        self.date_of_opening = date_of_opening
        self.balance = balance
        self.customer_name = customer_name
    def deposit(self,amount):
        self.balance += amount
        print(f"${amount} has been deposited in your account.")
    def withdraw(self,amount):
        if amount > self.balance:
            print("Insufficient balance.")
        else:
            self.balance -= amount
            print(f"${amount} has been withdrown from your account.")
    def check_balance(self):
        print(f"Current balance is ${self.balance}.")
    def print_customer_details(self):
        print("Name:",self.customer_name)
        print("Account number:",self.account_number)
        print("Date of opening:",self.date_of_opening)
        print(f"Balance:${self.balance}\n")
bank_user = BankAccount(2345,"01-01-2023",2000,"Nisa Naik")

In [110]:
bank_user.check_balance()

Current balance is $2000.

In [111]:
bank_user.deposit(10000)

$10000 has been deposited in your account.

In [112]:
bank_user.withdraw(400)

$400 has been withdrown from your account.

In [113]:
bank_user.check_balance()

Current balance is $11600.

In [114]:
bank_user.print_customer_details()

Name: Nisa Naik
Account number: 2345
Date of opening: 01-01-2023
Balance:$11600

# conditional statement

# Logical Statement

# Q1. Write the general syntax for if, elif and else in a markdown cell.

if condition:

statement

elif condition:

statement

else:

statement

# Q2. Write a program to check if a number given by a user is a three digit number, a two digit number or neither of them

In [14]:
number=int(input('Enter your number: ')) # taking a number from the user
if 99 < number <=999:
    print("The number specified by the user is a three digit number.")
elif 9 < number <=99:
    print("The number specified by the user is a two digit number.")
else:
    print("The number specified by the user is neither three digit nor two digit. ")

Enter your number: 65756
The number specified by the user is neither three digit nor two digit.

# 3. Write a program to check if the first letter of user specified text is a vowel or not.

In [17]:
text=input("Enter your text:")
vowels= 'aeiouAEIOU'
if text[0] in vowels:
    print('Yes,The first letter of the user specified text is a vowel.')
else:
    print('No,The first letter of the specified text is not a vowel.')

Enter your text:dasdasfa
No,The first letter of the specified text is not a vowel.

# Q4. Write a program to check if the number specified by a user is odd or even.
Hint: % is used to find the remainder. And any number which is not divisible by 2 is an odd number.

In [18]:
n=int(input('Enter your number:  '))
if n % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter your number:  23
The number is odd

# Q5. A company decided to give 10% bonus to its employees who has been working for more than 10 years, 7.5% bonus to employees who has been working for 6 to 10 years, and 5% bonus to its employees who has been working for less than 6 years. 
#### Ask Employees for their Salary and years of service and print their new Salary

In [22]:
yes= int(input("Enter the number of years you've woked in the company: "))
salary = int(input("Eneter your old Salary: "))
if yes > 10:
    print("The new salary of the employee is", salary + 0.10 * salary)
elif 6 <= yes <= 10:
    print("The new salary of the employee is", salary + 0.75 * salary)
else:
    print("The new salary of the employee is", salary + 0.05 * salary)

Enter the number of years you've woked in the company: 23
Eneter your old Salary: 300000
The new salary of the employee is 330000.0

# Python Function

# Q1. Create a simple function named first_function which prints "Hello World".

In [44]:
def first_function():
    print("Hello World")

In [45]:
first_function()

Hello World

# Q2. Create a simple function to find exponential of any number

In [47]:
def power(x,y):
    return x**y

In [48]:
power(5,3) # it finds 5 raised to power 3.

125

# Q3. Write a function to find the cuberoot of any number.

In [49]:
def cuberoot(x):
    return x**(1/3)

In [50]:
cuberoot(27)

3.0

# Q4. Write a program to create a function that prints a sequence of numbers which starts, stops and increments as the user specifies. The output should include both the first and last values

In [51]:
def my_range_function(start,stop,step):
    while start <= stop:
        print(start)
        start += step

In [52]:
my_range_function(100,500,50)

100
150
200
250
300
350
400
450
500

# Q5. Write a program to create a simple calculator using a function.

In [54]:
def calculator():
    while True:
        operation = input("Choose your operation:\n\n Add : +\n Subtract: - \n Multiply: * \n Divide: / \n Power: ^ \n\n Press 'q' to quit\n\n")
        if operation == 'q':
            break
        elif operation not in ['+','-','*','/','^']:
            print('Invalid Operation !!')
            break
        else:
            first_number=int(input('Enter your first number: '))
            second_number=int(input('Enter your second number: '))
            if operation == '+':
                print('\n\nThe result is:',first_number + second_number)
            elif operation == '-':
                print('\n\nThe result is:',first_number - second_number) 
            elif operation == '*':
                print('\n\nThe result is:',first_number * second_number) 
            elif operation == '/':
                print('\n\nThe result is:',first_number / second_number) 
            elif operation == '^':
                print('\n\nThe result is:',first_number **second_number)

In [55]:
calculator()

Choose your operation:

 Add : +
 Subtract: -
 Multiply: *
 Divide: /
 Power: ^

 Press 'q' to quit

+
Enter your first number: 23
Enter your second number: 24


The result is: 47
Choose your operation:

 Add : +
 Subtract: -
 Multiply: *
 Divide: /
 Power: ^

 Press 'q' to quit

-
Enter your first number: 5
Enter your second number: 2


The result is: 3
Choose your operation:

 Add : +
 Subtract: -
 Multiply: *
 Divide: /
 Power: ^

 Press 'q' to quit

*
Enter your first number: 45
Enter your second number: 2


The result is: 90
Choose your operation:

 Add : +
 Subtract: -
 Multiply: *
 Divide: /
 Power: ^

 Press 'q' to quit

/
Enter your first number: 90
Enter your second number: 15


The result is: 6.0
Choose your operation:

 Add : +
 Subtract: -
 Multiply: *
 Divide: /
 Power: ^

 Press 'q' to quit

^
Enter your first number: 4
Enter your second number: 4


The result is: 256
Choose your operation:

 Add : +
 Subtract: -
 Multiply: *
 Divide: /
 Power: ^

 Press 'q' to quit

q

# Python Filter Function

# Q1. Consider the list of ages below, print the age only if it is above 18 using the filter function.

In [1]:
ages = [5,12,17,18,24,32]

# Solution1

In [2]:
def ages_above_18(x):
    if x >= 18:
        return True
    else:
        return False
list(filter(ages_above_18,ages))

[18, 24, 32]

In [13]:
ages1=[2,4,6,8,10,11,12,18]

In [15]:
a=int(input("Enter a age: "))
def ages1_above_18(x):
    if x>= 18:
        return True
    else:
        return False
list(filter(ages1_above_18,ages1))
print()

Enter a age: 18

[18]

# Solution2

In [16]:
list(filter(lambda x: x>= 18, ages))

[18, 24, 32]

# Q2. Write a Python program to count the even and odd numbers in a given list of integers using the filter function.

In [27]:
list_of_integers =[x for x in range(47251)]

# solution

In [28]:
def odd_even_counter(array):
    odds = len(list(filter(lambda x: (x%2 !=0), array)))
    evens = len(list(filter(lambda x: (x%2 ==0), array)))
    print(f'There are {odds} odd and {evens} even numbers in the list.')
odd_even_counter(list_of_integers)

There are 23625 odd and 23626 even numbers in the list.

# Q3. Write a Python program to find the intersection of two given lists using the filter function.

In [29]:
list1 = [1, 2, 3, 5, 7, 8, 9, 10]
list2 = [1, 2, 4, 8, 9]

In [31]:
list(filter(lambda x: x in list1, list2))

[1, 2, 8, 9]

# Q4. Consider the following Dictionary which contains height (in feet) and weight (in kgs), filter the the people who are more than 6 feet tall and weighs more than 65 Kgs

In [32]:
students = {
    'Cierra Vega': (6.2, 70), 
    'Alden Cantrell': (5.9, 65), 
    'Kierra Gentry': (6.0, 68), 
    'Pierre Cox': (5.8, 66)
}

In [36]:
dict(filter(lambda x: (x[1][0], x[1][1]) >= (6.0, 65), students.items()))  # students.items( ) is giving all the items of the dictionary in key value pairs

{'Cierra Vega': (6.2, 70), 'Kierra Gentry': (6.0, 68)}

# Q5. Write a Python program to create the next bigger number by rearranging the digits of a user specified number. (For example: the user inputs 102, the program should rearrange 1, 0, and 2 in such a way to get the next bigger number. In this case, 201

In [41]:
def rearrange_digits():
    n = int(input("Enter a two digit number: "))
    nums = list(str(n))
    for i in range(len(nums)-2,-1,-1):
        if nums[1] < nums[i+1]:
            z= nums[i:]
            y= min(filter(lambda x: x>z[0],z))
            z.remove(y)
            z.sort()
            nums[i:] = [y]+z
            return int("".join(nums))
rearrange_digits()

Enter a two digit number: 5778

5787

# Lambda Function

In [1]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

mydoubler(10)

20

# Q1. Create a simple lambda function that returns multiplication of three numbers

In [2]:
additional_of_numbers=lambda x,y,z : x*y*z
additional_of_numbers(4,4,4)

64

# Q2. Write a Python program to sort a given list of tuples from highest to lowest marks using the lambda function.

In [3]:
marks = [('R',88),('Python',90),('C++',97),('Java',82)]
marks

[('R', 88), ('Python', 90), ('C++', 97), ('Java', 82)]

Solution

In [6]:
lam_fun  = lambda x: x[1]
sorted(marks,key = lam_fun,reverse=True)

[('C++', 97), ('Python', 90), ('R', 88), ('Java', 82)]

# Q3. Write a Python program to sort a given list by the length of lists inside it using the lambda function

In [20]:
diff_len_lists =[[2],[3,1],[0,7],[0],[9,11],[13,15,17,20],[9,11,10],[5,6]]
diff_len_lists

[[2], [3, 1], [0, 7], [0], [9, 11], [13, 15, 17, 20], [9, 11, 10], [5, 6]]

Solution

In [21]:
sorting_by_len_func = lambda a: len(a)

sorted(diff_len_lists, key = sorting_by_len_func)

[[2], [0], [3, 1], [0, 7], [9, 11], [5, 6], [9, 11, 10], [13, 15, 17, 20]]

# Q4. Sort the given list of dictionaries on the basis of area key (highest to lowest) using the lambda function

In [23]:
cities = [{
         "name":"New York City",
          "country":"United States",
          "population":20.14,
          "area":1223.59
    },
    {
          "name":"Tokyo",
          "country":"Japan",
          "population":37.47,
          "area":2199.07,
    },
    {
         "name":"Los Angeles",
          "country":"United States",
          "population":13.2,
          "area":1299.01,
    },
    {
         "name":"Madrid",
          "country":"Spain",
          "population":6.79,
          "area":604.31,
    },
    {
         "name":"Osaka",
          "country":"Japan",
          "population":19.3,
          "area":5107.0,
    },
    {
         "name":"London",
          "country":"United kingdom",
          "population":14.26,
          "area":8382.0,
    }
]

solution

In [27]:
sorting_using_key=lambda x: x['area']
sorted(cities,key =sorting_using_key,reverse=True)

[{'name': 'London',
  'country': 'United kingdom',
  'population': 14.26,
  'area': 8382.0},
 {'name': 'Osaka', 'country': 'Japan', 'population': 19.3, 'area': 5107.0},
 {'name': 'Tokyo', 'country': 'Japan', 'population': 37.47, 'area': 2199.07},
 {'name': 'Los Angeles',
  'country': 'United States',
  'population': 13.2,
  'area': 1299.01},
 {'name': 'New York City',
  'country': 'United States',
  'population': 20.14,
  'area': 1223.59},
 {'name': 'Madrid', 'country': 'Spain', 'population': 6.79, 'area': 604.31}]

# Q5. Write a python program to find a list with the highest number of elements from the given list of lists using lambda function.

In [28]:
diff_len_lists = [[2],[3,1],[0,7],[0],[9,11],[13,15,17,20],[9,11,10],[5,6]]
diff_len_list

[[2], [3, 1], [0, 7], [0], [9, 11], [13, 15, 17, 20], [9, 11, 10], [5, 6]]

Solution

In [29]:
max(diff_len_lists,key=lambda x: len(x))

[13, 15, 17, 20]

# Python map()function

# Q1. Consider the following list, write a program to find the length of every element in the given list.

In [30]:
fruits =['Apple','Banana','Cherry','Orange','kiwi','Papaya','Pineapple','Grap']
fruits

['Apple', 'Banana', 'Cherry', 'Orange', 'kiwi', 'Papaya', 'Pineapple', 'Grap']

In [31]:
list(map(lambda x: len(x),fruits))

[5, 6, 6, 6, 4, 6, 9, 4]

# Q2. Write a Python program to square the elements of the given list using the map() function

In [32]:
integers = [12,33,23,10,11,67,89,45,66.7,23,12,11,10.25,54]
integers

[12, 33, 23, 10, 11, 67, 89, 45, 66.7, 23, 12, 11, 10.25, 54]

In [33]:
squared_integers=list(map(lambda a: a**2,integers))
print(squared_integers)

[144, 1089, 529, 100, 121, 4489, 7921, 2025, 4448.89, 529, 144, 121, 105.0625, 2916]

# Q3. Consider the two given lists, multiply the lists element wise using the map() function.

In [34]:
n_1 =[1,2,3,4,5,6,7,8]
n_2 =[2,2,3,1,2,6,7,9]

In [35]:
list(map(lambda x,y:x*y,n_1,n_2))

[2, 4, 9, 4, 10, 36, 49, 72]

# Q4. Write a Python program to convert a given list of tuples to a list of strings using the map function

In [36]:
colors = [('red','pink'),('white','black'),('orange','green')]

In [37]:
list(map(''.join,colors))

['redpink', 'whiteblack', 'orangegreen']

# Q5. Write a Python program to convert a given dictionary of lists to a list of dictionaries using the map function

In [38]:
marks = {'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}
marks

{'Science': [88, 89, 62, 95], 'Language': [77, 78, 84, 80]}

In [39]:
list(map(dict, zip(*[[(key, val) for val in value] for key, value in marks.items()])))

[{'Science': 88, 'Language': 77},
 {'Science': 89, 'Language': 78},
 {'Science': 62, 'Language': 84},
 {'Science': 95, 'Language': 80}]

# Inheritance

# Q1. Inherit the properties of a given python class in a new child class named Student.

In [1]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def name(self):
        print(self.firstname, self.lastname)

person = Person("John", "Doe")
person.name()

John Doe

In [2]:
class student(Person):
    pass
student=student("Harry","Potter")
student.name()

Harry Potter

# Q2. Consider the given class Calculator. Use inheritance to include the divide and power functions to it

In [3]:
class Calculator:
    def __init__(self, number1, number2):
        self.number1 = number1
        self.number2 = number2
        
    def add(self):
        return self.number1 + self.number2

    def sub(self):
        return self.number1 - self.number2

    def mul(self):
        return self.number1 * self.number2

In [9]:
class Operators(Calculator):
    def __init__(self,number1,number2):
        super().__init__(number1,number2)
    def div(self):
        return self.number1 / self.number2
    def power(self):
        return self.number1 ** self.number2
math = Operators(20,2)
print(math.add())
print(math.sub())
print(math.mul())
print(math.div())
print(math.power())

22
18
40
10.0
400

# Q3. Create a subclass `Vehicle` that gives vehicle info from the given base class `Taxi`.

In [10]:
class Taxi:
    def __init__(self, model, capacity, variant):
        self.model = model   
        self.capacity = capacity
        self.variant = variant

    def getmodel(self):          
        return self.model

    def getcapacity(self):        
        return self.capacity

    def setcapacity(self, capacity): 
        self.capacity = capacity

    def getvariant(self):        
        return self.variant

    def setvariant(self, variant):  
        self.variant = variant

In [13]:
class Vehicle(Taxi):
    def __init__(self,model,capacity,variant,color):
        super().__init__(model,capacity,variant)
        self.color = color
    def vehicleinfo(self):
        return self.getmodel() + " " + self.getvariant() + " in " +self.color + "with" +self.getcapacity() + "Seats"
v1 = Vehicle("i20 Active", "4", "SX", "Bronze" )
print(v1.vehicleinfo())
print(v1.getmodel())

i20 Active SX in Bronzewith4Seats
i20 Active

In [14]:
v2 = Vehicle("Fortuner", "7", "MT2755", "White")
print(v2.vehicleinfo())

v2.setcapacity('8')

print(v2.getcapacity())
print(v2.vehicleinfo())

Fortuner MT2755 in Whitewith7Seats
8
Fortuner MT2755 in Whitewith8Seats

In [ ]:
''